.fixed-background {
    background: url(/src/assets/balloon-lg.jpg) no-repeat 50% fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-form-box {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 30px 30px 30px;
    width: 500px;
    border-radius: 5px;
}

.login-form-header {
    margin-bottom: 40px;
}

.login-form-header h2 {
    font-size: 26px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form-header p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0;
}

.login-form-header p a {
    text-decoration: none;
    color: #0e74bd;
}

.input-item {
    margin-bottom: 20px;
}

.input-item input {
    width: calc(100% - 30px);
    padding: 16px;
    border-radius: 5px;
}

.button {
    margin: 0 5px 0 0;
}

.btn {
    border-color: #59bdd2 ! important;
    border-radius: 20px !important;
    line-height: 1.5 !important;
    font-weight: 700 !important;
    letter-spacing: .05rem !important;

}

.btn:hover {
    color: #fff !important;
}

.login-btn {
    background-color: #59bdd2 !important;
    color: #fff !important;
    padding: 0.6rem 2.5rem !important;
}

.cancel-btn {
    color: #59bdd2 !important;
    padding: 0.6rem 1.5rem !important;
    background-color: #fff !important;
}

.cancel-btn:hover {
    color: #59bdd2 !important;
}