.bgcolor {
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg, rgba(224, 224, 224) 0%, rrgb(233, 237, 254) 100%);
}

.configuration {
    border: 1px solid rgb(227, 222, 222);
    padding: 2rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
}

.status {
    border: 1px solid rgb(227, 222, 222);
    padding: 0 0.5rem;
    border-radius: 5px;
    width: max-content;
}

.active-status {
    background: rgb(82, 134, 50);
    color: #fff;
}

.inactive-status {
    background: rgb(227, 222, 222);
    color: rgb(8, 8, 8);
}

/* .transfer-column {
    width: 638px;
    height: 30rem;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000;  
    border-radius: 2px;
    margin-top: 50px;
    padding: 50px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} */
.transfer-double-content-left {
    width: 50rem;
    height: 25rem;
    margin-top: 50px;
}
/* .transfer-column .rdl-btn .rdl-move .rdl-move-all-left{
    display: none;
} */
/* #rdl-v5lUd0Pwehm1eapHF1ZIR-move-all-right{
    display: none;
} */
.button#rdl-VVttqZmDw-ivYLDJ8Zv_D-move-all-right{
    display:none;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullScreen.css-m9glnp-MuiPaper-root-MuiDialog-paper{
    overflow-y: hidden !important;
}